.modal {
  position: relative;
}

.closeButton {
  border: none;
  font-size: 150%;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 0;
}

.closeButton:focus {
  color: var(--color-blue);
}
