.input {
  --input-height: 60px;
  --vertical-padding: 16px;
  --horizontal-padding: 12px;

  position: relative;
  width: 100%;
  height: var(--input-height);
  padding: var(--vertical-padding) var(--horizontal-padding);
  border: 1px solid var(--color-grey);
}

.input:focus {
  border-color: var(--color-dark-blue);
}

.input::placeholder {
  color: var(--color-light-grey);
  outline: none;
}
