html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-darkest-blue: #304d6d;
  --color-dark-blue: #545e75;
  --color-blue: #63adf2;
  --color-light-blue: #a7cced;
  --color-blue-grey: #82a0bc;
  --color-grey: #cdd9e4;
  --color-white: #ffffff;
}
