html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-darkest-blue: #304D6D;
  --color-dark-blue: #545E75;
  --color-blue: #63ADF2;
  --color-light-blue: #A7CCED;
  --color-blue-grey: #82A0BC;
  --color-grey: #cdd9e4;
}